<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action/Status</th>
    </thead>
    <tbody>
        <% if @events %>
            <% @events.each do |event| %>
                <% if event.state == current_user.state %>
                    <tr>
                        <td><a href="/events/<%= event.id %>/show"><%= event.name %></a></td>
                        <td><%= event.date %></td>
                        <td><%= event.location %></td>
                        <td><%= event.current_user.first_name %> <%= event.current_user.last_name %></td>
                            <td>
                                <a href="/events/<%= event.id %>/edit">Edit &emsp; </a>
                                <a href="/events/<%= event.id %>/destroy" data-method="delete">Delete</a>
                            <% if current_user.attending.exists?( event.id ) %>
                                <p>Joining &emsp;
                                <a href="/participants/<%= event.id %>/destroy" data-method="delete">Cancel</a>
                            <% else %>
                                <a href="/participants/<%= event.id %>/create" data-method="post">Join &emsp; </a>
                            <% end %>
                        </td>
                            <% if @user.id == event.user_id %>
                                <td>
                                    <form action="/events/<%= event.id %>/join" method="post">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                        <input type="hidden" name="event[user_id]" value="<%= user.id %>">
                                        <a href="/events/<%= event.id %>/join %> data-method="post"">Join &emsp;</a>
                                        <a href="/events/<%= event.id %>/edit">Edit &emsp14; </a>
                                        <a href="/events<%= event.id %>"data-method="delete">Delete</a>
                                    </form>
                            <% elsif current_user.attending.exists?(event.id) %>
                                <p>Joining</p>
                                <a href="/participants/<%= event.id %>/destroy">Cancel</a>
                            <% end %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
