<h2>Welcome, <%= current_user.first_name %></h2>

<div class="local_events">
	<h3>Here are some of the events in your state:</h3>
	<%= render "local" %>
</div>

<div class="other_events">
	<h3>Here are some of the events in other states:</h3>
	<%= render "away" %>
</div>

<div class="add_event">
	<div class="col-md-6">
		<h3>Add Event</h3>

		<form action="/events/create" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<p>Name:&emsp;
				<input type="text" name="event[name]" placeholder="Event Name" value="<%= @event.name %>">
			</p>
			<p>Date:&emsp;
				<input type="date" name="event[date]" value="<%= @event.date %>">
			</p>
			<p>Location:&emsp;
				<input type="text" name="event[location]" placeholder="City" value="<%= @event.location %>">&nbsp;
				<select name="event[state]">
					<% CS.states(:us).each do |s| %>
						<option value="<%= s[0] %>"><%= s[0] %></option>
					<% end %>
				</select>
			</p>
			<input type="submit" value="Add Event">
		</form>
	</div>
</div>
