<div class="col-md-8">
	<h2><%= @event.name %></h2>
	<h4>Host:  <%= @event.user.first_name %> <%= @event.user.last_name %></h4>
	<h4>Date:  <%= @event.date %></h4>
	<h4>Location:  <%= @event.location %>, <%= @event.state %></h4>
</div>

<div class="participants">
	<h3>People who are joining the event:</h3> &emsp; <p><%= @event.participant.count - 1 %></p>

	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Location</th>
			<th>State</th>
		</thead>
		<tbody>
			<% if participant %>
				<% participant.each do |participant| %>
					<tr>
						<td><%= participant.first_name %> <%= participant.last_name %></td>
						<td><%= participant.location %></td>
						<td><%= participant.state %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<div class="discussion">
	<h4>Discussion about this event:</h4>
		<% if comments %>
			<% comments.each do |comment| %>
				<p><%= comment.user.first_name %> says: <%= comment.content %></p>
				<p>---------------------------</p>
			<% end %>
		<% end %>
</div>

<div class="comment">
	<form action="/events/<%= event.id %>/comment/create" method="post">
		<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
		<h4>Add Comment:</h4>
		<textarea name="content" rows="8" cols="80"></textarea>
		<input type="submit" value="Submit Comments">
	</form>
</div>
