<!DOCTYPE html>
<html>
  <head>
    <title>TheSimpsons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="left">
          <%= yield :left %>
      </div>
      <div class="right">
          <%= yield :right %>
      </div>
  </body>
</html>
