<title>The Simpsons</title>
<%= image_tag("Simpsons.png") %>
<%= stylesheet_link_tag "index" %>

<% @characters.each do |c| %>
    <table>
        <tr>
          <td><a href="characters/<%= c.id %>"><%= c.fname %> <%= c.lname %></a></td>
          <tr>
              <td><%= c.workplace %></td>
          </tr>
    </table>
<% end %>

<p>The Simpsons is the ultimate (if very unorthodox) nuclear family. Homer, the lovable dufus father, stumbles apathetic ally through his family life and work at the local nuclear power plant. Marge, the overbearing but responsible mother, Bart, the 4th grade underachiever and nemesis to Springfield elementary's principal, Lisa, the brainy and responsible 8 year old, and Maggie, the oft-forgotten baby, round out the family. Based on a series of small cartoon sketches from the Tracy Ullman show, the Simpsons enjoy many wacky exploits in their hometown and beyond. Other characters include an incompetent lawyer, the tyrranical nuclear power plant owner, the too-perfect neighbors (the Flanders) of the Simpsons, and the less than perfect "Klown", Krusty. Colorful characters and situations abound.</p>

<p align="center"><a href="/characters/new">New Characters</a></p>
